.search-input {
    height: 40px;
    width: 400px;
    padding-left: 1rem;
    position: relative;
}

.results-container {
    position: absolute;
    background-color: var(--bg-color);
    width: 400px;
    padding-left: 1rem;
    min-height: 50px;
    max-height: 500px;
    overflow-y: scroll;
}

.results-container::-webkit-scrollbar {
    width: 12px;
}

.results-container::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

.results-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 3px solid var(--secondary-color);
}
