.navbar {
    width: 100vw;
    height: 10vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-family: var(--default-font);
}

.navbar h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.profile-container img {
    margin: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container {
    position: relative;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    font-size: .8rem;
    border-radius: 10px;
    transition: .5s;
    right: 0;
    text-align: center;
}

.profile-dropdown a {
    margin: .5rem;
}

.profile-dropdown a:hover {
    opacity: .5;
}

.profile-name {
    font-size: .8rem;
    line-height: 1rem;
    white-space: nowrap;
}

.profile-username {
    font-size: .8rem;
    margin-bottom: 50px;
    line-height: 1rem;
    color: #9699B0;
    white-space: nowrap;
}

.profile-name:hover, .profile-username:hover {
    text-decoration: underline;
}

.profile-container:hover .profile-dropdown {
    display: flex;
    flex-direction: column;
    animation: dropdown-animation 300ms ease-in-out forwards;
}

@keyframes dropdown-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #38393b;
    margin-top: 5px;
}

@media (max-width: 999px) {
    .mobile-menu {
        display: block;
    }

    .search-input {
        display: none;
    }
}