@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bg-color: #000;
    --primary-color: #9A6AFF;
    --secondary-color: #1F2029;
    --default-font: 'Montserrat';
}

* {
    font-family: var(--default-font);
}

body {
    background-color: var(--bg-color);
}

input, textarea {
    height: 35px;
    width: 250px;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-family: var(--default-font);
}

input:focus, textarea:focus {
    outline: none;
}

input::placeholder textarea::placeholder {
    color: #B3B5C6;
    padding-left: .5rem;
}

.pointer {
    cursor: pointer;
}

.profile-picture {
    margin: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: .8rem;
    line-height: 1rem;
    white-space: nowrap;
}

.profile-username {
    font-size: .8rem;
    margin-bottom: 50px;
    line-height: 1rem;
    color: #9699B0;
    white-space: nowrap;
}

.profile-name:hover, .profile-username:hover {
    text-decoration: underline;
}